<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
    <div class="member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
            <img src="{{fields.field_team_member_image.content}}" class="img-fluid" alt="">
            <div class="social">
                {% for item in fields.field_social_media_links %}
                    <a href="{{ item.url }}"><i class="bi bi- {{ item.title }}"></i></a>
                {% endfor %}
            </div>
        </div>
        <div class="member-info">
            <h4>{{ fields.field_team_member_name.content }}</h4>
            <span>{{ fields.field_member_designation.content }}</span>
        </div>
    </div>
</div>

