<section id="team" class="team">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Team</h2>
            <p> {{ block_title }} </p>
        </div>
        <div class="row">
         
            {% for row in content['#view'].result %}
            {% set image_uri = content['#view'].field['field_team_member_image'].value(row).entity.uri.value %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">                  
                    <img src="{{ base_path ~ directory }}/images/team/team-1.jpg" class="img-fluid" alt="">
                    <div class="social">
                        {{ content['#view'].field['field_social_media_links'].value(row) }}
                    <!-- {% for links in content['#view'].field['field_social_media_links'].value(row) %}
                        <a href=""><i class="bi bi-facebook"></i></a>
                    {% endfor %} -->
                    </div>
                </div>
                <div class="member-info">
                    <h4>{{ content['#view'].field['field_team_member_name'].value(row) }}</h4>
                    <span>{{ content['#view'].field['field_member_designation'].value(row) }}</span>
                </div>
                </div>
            </div>

        {% endfor %}

        </div>
    </div>
</section>